<!-- views/climb.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> <%= name %> </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
</head>

<body>
     <div class="jumbotron">
            <h1><%= name %></h1>
            <p class="lead">Check out them below!</p>
        </div>

    <div class="container">
        <%= include('partials/navbar') %>
        <div>
            <p>Difficulty<a href='#'><%= grade %></a></p>
            <p>Rating<a href='#''><%= rating %></a></p>
            <hr>
        </div>
        <%- include('partials/footer') %>
    </div>
</body>

</html>